{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
    body {
        padding: 5%;
        background-color: #E1E6E7;
        /*overflow-y:hidden;*/
    }
    .div-1 {
        margin-inline: auto;
        width: 40vw;
        background-color: #E1E1E1;
        padding: 2%;
        border-radius: 2%;
        box-shadow: 0px 5px 20px 2px #888888;
    }
</style>
{% endblock %}
{% block content %}

<div class="header">
    <a href="/">
        <button type="button" class="btn btn-secondary float-end">Home</button>
    </a>
    <center>
        <h1 style=" padding-bottom:2%;">Create your blog</h1>
    </center>

</div>


<!--<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Save" />
</form>-->


<!--formatted form-->


<div class="div-1">
    <form action="." method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrfmiddlewaretoken" value="sG1NCISUkpRLmkYCCyGtzJcvdbvrVZTmyJCMS0RFXAGDoQPMTJxt5weS6A60zyp2">
        <p><label for="id_title" class="col-sm-2 col-form-label">Title:</label> <input type="text" name="title" maxlength="255" required id="id_title"></p>
        <p>
            <label for="id_small_desc" class="col-sm-2 col-form-label">Small desc:</label> <textarea name="small_desc" cols="40" rows="5" maxlength="400" required id="id_small_desc">
        </textarea>
        </p>
        <p>
            <label for="id_full_content" class="col-sm-2 col-form-label">Full content:</label> <textarea name="full_content" cols="40" rows="5" required id="id_full_content">
    </textarea>
        </p>
        <p><label for="id_img" class="col-sm-2 col-form-label">Img:</label> <input type="file" name="img" accept="image/*" id="id_img"></p>
        <center><input type="submit" class="btn btn-success px-5 " value="Save" /></center>
    </form>
</div>


<!--<form action="." method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="FfXCL4mN5UkMmNmpd7tXFInkSTmCZu3lLiyB1mlyI59EojdzuikXbvpHLiXbD3z1">

    <div class="mb-3 fieldWrapper">

        <label for="id_title">Title:</label> <input type="text" name="title" maxlength="255" required id="id_title">

    </div>

    <div class="mb-3 fieldWrapper">

        <label for="id_small_desc">Small desc:</label> <textarea name="small_desc" cols="40" rows="10" maxlength="400" required id="id_small_desc">
        </textarea>

    </div>

    <div class="mb-3 fieldWrapper">

        <label for="id_full_content">Full content:</label> <textarea name="full_content" cols="40" rows="10" required id="id_full_content">
        </textarea>

    </div>


    <div class="mb-3 fieldWrapper">

        <label for="id_img">Img:</label> <input type="file" name="img" accept="image/*" id="id_img">

    </div>

    <input type="submit" value="Save" />
</form>-->
{% endblock %}